{% extends 'customer/themelayout.html' %}
{% load static %}
{% block customercontent %}
    <main>

        <!-- Page Section Content Start -->
        <section class="page-secton-wrapper section-space-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="error-404-page text-center">
                            <h1 class="fw-bold mb-3">Your Order Is Placed</h1>
                            {% for i in cartItems %}
                                {{ totalcost }}
                            {% endfor %}

                            <a href="/dashboard" class="btn btn--primary">Back to homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Section Content End -->

    </main>
{% endblock %}
