{% extends 'customer/themelayout.html' %}
{% load static %}

{% block customercontent %}


    <main>
        <!-- Breadcrumb Start -->
        <section class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h1 class="page-title">Single Product</h1>
                            <ul class="breadcrumb-page-list">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item">Single Product</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb End -->

        <!-- Page Section Content Start -->
        <section class="product-details-secton section-space-pt">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Product Details Left -->
                        <div class="product-details-left">
                            <div class="product-details-images slider-lg-image-1">
                                <div class="lg-image img-zoom">
                                    <a href="/productdetails" class="img-poppu"><img
                                            src="/static/media/{{ obj.image }}" alt="product image"></a>
                                </div>
                                {#                                <div class="lg-image img-zoom">#}
                                {#                                    <a href="assets/images/products/large/lg-2.html" class="img-poppu"><img#}
                                {#                                            src="assets/images/products/details/lg-2.jpg" alt="product image"></a>#}
                                {#                                </div>#}
                                {#                                <div class="lg-image img-zoom">#}
                                {#                                    <a href="assets/images/products/large/lg-3.html" class="img-poppu"><img#}
                                {#                                            src="assets/images/products/details/lg-3.jpg" alt="product image"></a>#}
                                {#                                </div>#}
                                {#                                <div class="lg-image img-zoom">#}
                                {#                                    <a href="assets/images/products/large/lg-4.html" class="img-poppu"><img#}
                                {#                                            src="assets/images/products/details/lg-4.jpg" alt="product image"></a>#}
                                {#                                </div>#}
                            </div>
                            {#                            <div class="product-details-thumbs slider-thumbs-1">#}
                            {#                                <div class="sm-image"><img src="assets/images/products/details/sm-1.jpg"#}
                            {#                                                           alt="product image thumb"></div>#}
                            {#                                <div class="sm-image"><img src="assets/images/products/details/sm-2.jpg"#}
                            {#                                                           alt="product image thumb"></div>#}
                            {#                                <div class="sm-image"><img src="assets/images/products/details/sm-3.jpg"#}
                            {#                                                           alt="product image thumb"></div>#}
                            {#                                <div class="sm-image"><img src="assets/images/products/details/sm-4.jpg"#}
                            {#                                                           alt="product image thumb"></div>#}
                            {#                            </div>#}
                        </div>
                        <!--// Product Details Left -->
                    </div>
                    <div class="col-md-6">
                        <div class="product-details-view-content">
                            <h3 class="title">{{ obj.name }}</h3>
                            <div class="product-rating d-flex">
                                <ul class="d-flex">
                                    <li><a href="#"><i class="icon-rt-star-solid select-star"></i></a></li>
                                    <li><a href="#"><i class="icon-rt-star-solid select-star"></i></a></li>
                                    <li><a href="#"><i class="icon-rt-star-solid select-star"></i></a></li>
                                    <li><a href="#"><i class="icon-rt-star-solid select-star"></i></a></li>
                                    <li><a href="#"><i class="icon-rt-star-solid"></i></a></li>
                                </ul>
                                <a href="#" class="reting-count">(<span class="count">1</span> customer review)</a>
                            </div>
                            <p class="product-details-view-desc">{{ obj.description }}</p>
                            <div class="price-box">
                                <span class="new-price"> &#8977 {{ obj.price }}</span>
                                <span class="old-price"> &#8977 {{ obj.price }}</span>
                                {#                                <span class="old-price">$70.00</span>#}
                            </div>
                            <i class="font-monospace">after{{ obj.discount }} discount</i>
                            <div class="product-vareant">
                                {#                                <div class="pa_size">#}
                                {#                                    <label class="pa_size_label">Size</label>#}
                                {#                                    <span class="packet-swatch-vareant active swatch-1-kg" data-value="1-kg">1Kg</span>#}
                                {#                                    <span class="packet-swatch-vareant swatch-2-kg" data-value="100Gm">100Gm</span>#}
                                {#                                    <span class="packet-swatch-vareant swatch-3-kg" data-value="200Gm">200Gm</span>#}
                                {#                                    <span class="packet-swatch-vareant swatch-4-kg" data-value="500Gm">500Gm</span>#}
                                {#                                </div>#}
                                <div class="packet-swatch-vareant-price"></div>
                                <div class="stock in-stock">737 in stock</div>
                            </div>

                            <div class="single-add-to-cart">
                                <form action="/saveProductToCart" method="post" class="cart-quantity d-flex">
                                    {% csrf_token %}
                                    <input type="text" id="productID" name="productID" value="{{ obj.id }}" readonly
                                           style="display: none">
                                    <div class="quantity">
                                        <div class="cart-plus-minus">
                                            <input name="quantity" class="cart-plus-minus-box" value="1" type="text">
                                        </div>
                                    </div>
                                    <button class="add-to-cart btn btn--primary md:px-5" type="submit">Add To Cart
                                    </button>
                                </form>
                            </div>
                            <div class="add-to-wishlist">
                                <a href="wishlist.html" class="add_to_wishlist"><i class="icon-rt-heart2"></i> Add to
                                    Wishlist</a>
                            </div>

                            <div class="product-meta">
                                <div class="sku_wrapper">
                                    SKU: <span class="sku">N/A</span>
                                </div>
                                <div class="posted_in">
                                    <span>Categories: </span>
                                    <a href="#">{{ cat.name }}</a>
                                    {#                                    <a href="#">Beef</a>#}
                                    {#                                    <a href="#">Beverages</a>#}
                                    {#                                    <a href="#">Frozen Desserts</a>#}
                                    {#                                    <a href="#">Frozen Foods</a>#}
                                    {#                                    <a href="#">Frozen Potatoes</a>#}
                                    {#                                    <a href="#">Hot Dogs & Sausages</a>#}
                                    {#                                    <a href="#">Meats & Seafood</a>#}
                                    {#                                    <a href="#">Pantry</a>#}
                                    {#                                    <a href="#">Scones</a>#}
                                    {#                                    <a href="#">Shop</a>#}
                                    {#                                    <a href="#">Snacks</a>#}
                                    {#                                    <a href="#">Soft Drinks</a>#}
                                </div>
                                <div class="tagged_as">
                                    <span>Tags: </span>
                                    <a href="#">{{ cat.name }}</a>
                                    {#                                    <a href="#">Vegan</a>#}
                                </div>
                            </div>

                            <div class="share-product-socail-area">
                                <p>Share:</p>
                                <ul class="single-product-share">
                                    <li><a href="#"><i class="icon-rt-4-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="icon-rt-logo-pinterest"></i></a></li>
                                    <li><a href="#"><i class="icon-rt-logo-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-description-area section-pt">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-details-tab">
                                <ul role="tablist" class="nav">
                                    <li class="active" role="presentation">
                                        <a data-bs-toggle="tab" role="tab" href="#description"
                                           class="active">Description</a>
                                    </li>
                                    <li role="presentation">
                                        <a data-bs-toggle="tab" role="tab" href="#additional-information">Additional
                                            information</a>
                                    </li>
                                    <li role="presentation">
                                        <a data-bs-toggle="tab" role="tab" href="#reviews">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="product_details_tab_content tab-content">
                                <!-- Start Single Content -->
                                <div class="product_tab_content tab-pane active" id="description" role="tabpanel">
                                    <div class="product_description_wrap  mt-30">
                                        <div class="product_desc mb-30">
                                            <h3 class="product_desc_title">Why Us</h3>
                                            <p>Whether you work from home or office or other workplaces, daily grocery
                                                items are a requisite for everybody. Regardless of the size of the
                                                family or where you live, one can easily browse for the required food or
                                                other daily use products and have them brought to your home. Explore the
                                                variety of products, whether oils or foodgrains, from the online stock
                                                and choose the quantity required. You can save the time otherwise lost
                                                in waiting in lengthy queues for billing and payments by easily adding
                                                the chosen items to your cart online. Select the required date for
                                                delivery and pay with a suitable payment option. This will help you
                                                receive the items whenever you need them and in the available quantity.
                                                Essentials needed every day, like spices, daals, sugar, coffee powder,
                                                salt, etc., can be easily shopped online and delivered to your home.
                                                Other items like cleaning liquids, shower gels, fabric softeners,
                                                toothpaste, etc., can also be bought online. Buy grocery and more from
                                                brands such as Kellogg’s, Tata Gold, Parle G, Lays, etc. Order the
                                                online grocery comfortably from home for timely doorstep delivery. You
                                                may also place an order for the comfort and convenience of your loved
                                                ones who cannot move out of the house and shop. </p>
                                            <p>There has to be a better way right? Yes there is!</p>
                                            <p>Drying fruit is a simple preservation technique, which means no fruit is
                                                wasted due to rot, and the farmers sell 100% of their harvest.</p>
                                            <h3 class="product_desc_title">Our Products</h3>
                                            <p>
                                                Staples

                                                Dal, pulses, ghee, sunflower oil, mustard oil, atta, sooji, maida,
                                                besan, spices, rice, dry fruits, sweets, sugar, jaggery, salt – you name
                                                it and we have it. You can find almost all the raw materials for your
                                                staple meals at Flipkart Grocery Store.

                                                Snacks and Beverages

                                                Biscuits, chips, namkeen, tea, coffee, juices, health drinks, soft
                                                drinks, squash and syrups - find everything that you love to munch on
                                                right under one roof.

                                                Packaged Food

                                                From noodles, pasta, ketchup, spreads, chocolates and sweets to jams,
                                                honey, pickles, chutneys, cooking sauces, and all baking ingredients -
                                                we have almost everything to take care of those Friday-night
                                                binges. </p>
                                        </div>

                                    </div>
                                </div>
                                <!-- End Single Content -->
                                <!-- Start Single Content -->
                                <div class="product_tab_content tab-pane" id="additional-information" role="tabpanel">
                                    <div class="product_additional-information mt-30">
                                        <table class="product-attributes_table">
                                            <tbody>
                                            <tr>
                                                <th class="product-attributes-item__label">Size</th>
                                                <td class="product-attributes-item__value">
                                                    <p>1 Kg, 200g, 500g</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="product-attributes-item__label">Brand</th>
                                                <td class="product-attributes-item__value">
                                                    <p>Skinfood</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="product-attributes-item__label">Dietary & Lifestyle</th>
                                                <td class="product-attributes-item__value">
                                                    <p>Vegan</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End Single Content -->
                                <!-- Start Single Content -->
                                <div class="product_tab_content tab-pane" id="reviews" role="tabpanel">
                                    <div class="review_address_inner mt-30">
                                        <!-- Start Single Review -->
                                        <div class="pro_review">
                                            <div class="review_thumb">
                                                <img alt="review images" src="assets/images/others/reviewer.jpg">
                                            </div>
                                            <div class="review_details">
                                                <div class="review_info mb-10">
                                                    <div class="single-product-item-rating">
                                                        <i class="icon-rt-star-solid select-star"></i>
                                                        <i class="icon-rt-star-solid select-star"></i>
                                                        <i class="icon-rt-star-solid select-star"></i>
                                                        <i class="icon-rt-star-solid select-star"></i>
                                                        <i class="icon-rt-star-solid"></i>
                                                    </div>
                                                    <h5><span class="user-name">mix83</span> - <span
                                                            class="comment-date"> November 19, 2022</span>
                                                    </h5>

                                                </div>
                                                <p class="reviewer-text">Have bought several times. Great tasting keto
                                                    Granola. Too expensive to use as a breakfast cereal but Great to add
                                                    as
                                                    a topping .</p>
                                            </div>
                                        </div>
                                        <!-- End Single Review -->
                                        <!-- Start Single Review -->
                                        <div class="pro_review">
                                            <div class="review_thumb">
                                                <img alt="review images" src="assets/images/others/reviewer.jpg">
                                            </div>
                                            <div class="review_details">
                                                <div class="review_info mb-10">
                                                    <div class="single-product-item-rating">
                                                        <i class="icon-rt-star-solid select-star"></i>
                                                        <i class="icon-rt-star-solid select-star"></i>
                                                        <i class="icon-rt-star-solid select-star"></i>
                                                        <i class="icon-rt-star-solid select-star"></i>
                                                        <i class="icon-rt-star-solid"></i>
                                                    </div>
                                                    <h5><span class="user-name">453swq </span> - <span
                                                            class="comment-date"> November 12, 2022</span>
                                                    </h5>

                                                </div>
                                                <p class="reviewer-text">Have bought several times. Great tasting keto
                                                    Granola. Too expensive to use as a breakfast cereal but Great to add
                                                    as
                                                    a topping .</p>
                                            </div>
                                        </div>
                                        <!-- End Single Review -->
                                    </div>
                                    <!-- Start RAting Area -->
                                    <div class="rating_wrap mt-50">
                                        <h5 class="rating-title-1">Add a review </h5>
                                        <p>Your email address will not be published. Required fields are marked *</p>

                                        <div class="rating_list d-flex gap-2 align-items-center">
                                            <h6 class="rating-title-2">Your Rating</h6>
                                            <div class="review_info mt-1">
                                                <div class="single-product-item-rating  mb-0">
                                                    <i class="icon-rt-star-solid"></i>
                                                    <i class="icon-rt-star-solid"></i>
                                                    <i class="icon-rt-star-solid"></i>
                                                    <i class="icon-rt-star-solid"></i>
                                                    <i class="icon-rt-star-solid"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End RAting Area -->
                                    <div class="comments-area comments-reply-area">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form action="#" class="comment-form-area">
                                                    <div class="row comment-input">
                                                        <div class="col-md-6 comment-form-author mt-3">
                                                            <label>Name <span class="required">*</span></label>
                                                            <input type="text" required="required" name="Name">
                                                        </div>
                                                        <div class="col-md-6 comment-form-email mt-3">
                                                            <label>Email <span class="required">*</span></label>
                                                            <input type="text" required="required" name="email">
                                                        </div>
                                                    </div>
                                                    <div class="comment-form-comment mt-3">
                                                        <label>Comment</label>
                                                        <textarea class="comment-notes" required="required"></textarea>
                                                    </div>
                                                    <div class="comment-form-submit mt-3">
                                                        <input type="submit" value="Submit" class="comment-submit">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Section Content End -->


        <!-- Product Item Section Start -->
{% comment %}
        <section class="product-item-section section-space-pb pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 position-relative">
                        <div class="section-title-wrap">
                            <h2 class="section-title">
                                Related Products
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="product-slider-active product-border-box">
                    <div class="single-product-item">
                        <div class="single-product-item-image">
                            <a href="productdetails.html" class="prodcut-images">
                                <img class="primary-image" src="assets/images/products/product-image-2-1.jpg" alt="">
                                <img class="secondary-image" src="assets/images/products/product-image-2-2.jpg" alt="">
                            </a>
                            <ul class="single-product-item-action">
                                <li class="single-product-item-action-list">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-heart2"></i></a>
                                </li>
                                <li class="single-product-item-action-list">
                                    <a href="#" title="Quick View" data-bs-toggle="modal"
                                       data-bs-target="#quick-view-modal"
                                       class="single-product-item-action-link"><i class="icon-rt-eye2"></i></a>
                                </li>
                                <li class="single-product-item-action-list product-cart">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-basket-outline"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-product-item-content">
                            <div class="single-product-item-rating">
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid"></i>
                            </div>
                            <h6 class="single-product-item-title"><a href="productdetails.html">Dried mango</a></h6>
                            <div class="single-product-item-price">
                                $10.00 - $70.00
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product-item-image">
                            <a href="productdetails.html" class="prodcut-images">
                                <img class="primary-image" src="assets/images/products/product-image-1-1.jpg" alt="">
                                <img class="secondary-image" src="assets/images/products/product-image-1-2.jpg" alt="">
                            </a>
                            <ul class="single-product-item-action">
                                <li class="single-product-item-action-list">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-heart2"></i></a>
                                </li>
                                <li class="single-product-item-action-list">
                                    <a href="#" title="Quick View" data-bs-toggle="modal"
                                       data-bs-target="#quick-view-modal"
                                       class="single-product-item-action-link"><i class="icon-rt-eye2"></i></a>
                                </li>
                                <li class="single-product-item-action-list product-cart">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-basket-outline"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-product-item-content">
                            <div class="single-product-item-rating">
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid"></i>
                            </div>
                            <h6 class="single-product-item-title"><a href="productdetails.html">Dried mango</a></h6>
                            <div class="single-product-item-price">
                                $10.00 - $70.00
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product-item-image">
                            <a href="productdetails.html" class="prodcut-images">
                                <img class="primary-image" src="assets/images/products/product-image-3-1.jpg" alt="">
                                <img class="secondary-image" src="assets/images/products/product-image-3-2.jpg" alt="">
                            </a>
                            <ul class="single-product-item-action">
                                <li class="single-product-item-action-list">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-heart2"></i></a>
                                </li>
                                <li class="single-product-item-action-list">
                                    <a href="#" title="Quick View" data-bs-toggle="modal"
                                       data-bs-target="#quick-view-modal"
                                       class="single-product-item-action-link"><i class="icon-rt-eye2"></i></a>
                                </li>
                                <li class="single-product-item-action-list product-cart">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-basket-outline"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-product-item-content">
                            <div class="single-product-item-rating">
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid"></i>
                            </div>
                            <h6 class="single-product-item-title"><a href="productdetails.html">Dried mango</a></h6>
                            <div class="single-product-item-price">
                                $10.00 - $70.00
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product-item-image">
                            <a href="productdetails.html" class="prodcut-images">
                                <img class="primary-image" src="assets/images/products/product-image-4-1.jpg" alt="">
                                <img class="secondary-image" src="assets/images/products/product-image-4-2.jpg" alt="">
                            </a>
                            <ul class="single-product-item-action">
                                <li class="single-product-item-action-list">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-heart2"></i></a>
                                </li>
                                <li class="single-product-item-action-list">
                                    <a href="#" title="Quick View" data-bs-toggle="modal"
                                       data-bs-target="#quick-view-modal"
                                       class="single-product-item-action-link"><i class="icon-rt-eye2"></i></a>
                                </li>
                                <li class="single-product-item-action-list product-cart">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-basket-outline"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-product-item-content">
                            <div class="single-product-item-rating">
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid"></i>
                            </div>
                            <h6 class="single-product-item-title"><a href="productdetails.html">Dried mango</a></h6>
                            <div class="single-product-item-price">
                                $10.00 - $70.00
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product-item-image">
                            <a href="productdetails.html" class="prodcut-images">
                                <img class="primary-image" src="assets/images/products/product-image-5-1.jpg" alt="">
                                <img class="secondary-image" src="assets/images/products/product-image-5-2.jpg" alt="">
                            </a>
                            <ul class="single-product-item-action">
                                <li class="single-product-item-action-list">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-heart2"></i></a>
                                </li>
                                <li class="single-product-item-action-list">
                                    <a href="#" title="Quick View" data-bs-toggle="modal"
                                       data-bs-target="#quick-view-modal"
                                       class="single-product-item-action-link"><i class="icon-rt-eye2"></i></a>
                                </li>
                                <li class="single-product-item-action-list product-cart">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-basket-outline"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-product-item-content">
                            <div class="single-product-item-rating">
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid"></i>
                            </div>
                            <h6 class="single-product-item-title"><a href="productdetails.html">Dried mango</a></h6>
                            <div class="single-product-item-price">
                                $10.00 - $70.00
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product-item-image">
                            <a href="productdetails.html" class="prodcut-images">
                                <img class="primary-image" src="assets/images/products/product-image-6-1.jpg" alt="">
                                <img class="secondary-image" src="assets/images/products/product-image-6-2.jpg" alt="">
                            </a>
                            <ul class="single-product-item-action">
                                <li class="single-product-item-action-list">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-heart2"></i></a>
                                </li>
                                <li class="single-product-item-action-list">
                                    <a href="#" title="Quick View" data-bs-toggle="modal"
                                       data-bs-target="#quick-view-modal"
                                       class="single-product-item-action-link"><i class="icon-rt-eye2"></i></a>
                                </li>
                                <li class="single-product-item-action-list product-cart">
                                    <a href="#" class="single-product-item-action-link"><i
                                            class="icon-rt-basket-outline"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-product-item-content">
                            <div class="single-product-item-rating">
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid select-star"></i>
                                <i class="icon-rt-star-solid"></i>
                            </div>
                            <h6 class="single-product-item-title"><a href="productdetails.html">Dried mango</a></h6>
                            <div class="single-product-item-price">
                                $10.00 - $70.00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endcomment %}
        <!-- Product Item Section End -->

    </main>

{% endblock %}

